<div class="row">
    <div class="col-lg-6">
        <!--  <button type="button" class="btn btn-block btn-primary"><a href="..\Usuario\Login" style="color:aliceblue;">Entrar no Sistema</a></button> -->

        <a href="../Usuario/Login" class="btn btn-block btn-primary" role="button">Entrar no Sistema</a>

    </div>
    <div class="col-lg-6">
        <a href="../Usuario/Registrar" class="btn btn-block btn-success" role="button">Registrar uma conta</a>
    </div>


    


</div>


