
@{
    ViewData["Title"] = "Menu";
}
<br />
<br />
<br />






<div class="card-columns">
    <div class="card bg-primary text-white text-center p-3  shadow-sm p-3 mb-5 bg-primary rounded ">
        <div class="card-body text-center ">

            <img src="~/images/conta.png" width="40" />
            <br />
            <br />
            <h5 class="card-text  ">Criar Conta</h5>
            <a href="../Conta/Index" class="stretched-link"></a>
        </div>
    </div>


    <div class="card bg-primary text-white text-center p-3">
        <div class="card-body text-center">

            <img src="~/images/conta.png" width="50" />
            <br />
            <br />
              <p>Plano de Contas</p>
    <a href="../Conta/Index" class="stretched-link"></a>

        </div>
    </div>




 



    <div class="card bg-primary text-white text-center p-3">
        <div class="card-body text-center">

            <br />
            <h5 class="card-text ">Criar Conta</h5>
            <a href="../Conta/Index" class="stretched-link"></a>
        </div>
    </div>


    <div class="card bg-light shadow-sm p-3 mb-5 bg-white rounded ">
        <div class="card-body text-center">
            <img src="~/images/extrato.png" width="50" />
            <br />
            <br />
            <h4 class="card-text">Extrato</h4>
            <a href="../Transacao/Extrato" class="stretched-link"></a>
        </div>
    </div>









    <div class="card bg-primary text-white text-center p-3">
        <br />
        <br />
        <p class="text-center">Cria Conta</p>
        <a href="../Conta/Index" class="stretched-link"></a>

        <br />
    </div>

    <div class="card bg-primary text-white text-center p-3">
        <br />
        <br />
        <p class="text-center">Cria Conta</p>
        <a href="../Conta/Index" class="stretched-link"></a>

        <br />
    </div>





    <div class="card bg-primary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
            <p>Extrato</p>
            <footer class="blockquote-footer">
                <a href="../Conta/Index" class="stretched-link"></a>


            </footer>
        </blockquote>
    </div>

    <div class="card bg-primary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
            <p>Plano de Contas</p>
            <a href="../Conta/Index" class="stretched-link"></a>

        </blockquote>
    </div>


    <div class="card bg-primary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
            <footer class="blockquote-footer">
                <a href="../Conta/Index" class="stretched-link"></a>

            </footer>
        </blockquote>
    </div>


    <div class="card bg-primary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
            <footer class="blockquote-footer">
                <a href="../Conta/Index" class="stretched-link"></a>

                <small>
                    Alguém famoso em <cite title="Título da fonte"></cite>

                </small>
            </footer>
        </blockquote>
    </div>


    <div class="card bg-primary  shadow-sm p-3 mb-5 bg-white rounded bg-primary text-white text-center p-3">

        <div class="card-body text-center">


            <img src="~/images/conta.png" width="50" />
            <br />
            <br />
            <h4 class="card-text ">Criar Conta</h4>

            <a href="../Conta/Index" class="stretched-link"></a>
        </div>

    </div>


    <div class="card bg-light shadow-sm p-3 mb-5 bg-white rounded ">
        <div class="card-body text-center">
            <img src="~/images/extrato.png" width="50" />
            <br />
            <br />
            <h4 class="card-text">Extrato</h4>
            <a href="../Transacao/Extrato" class="stretched-link"></a>
        </div>
    </div>



    <div class="card bg-light shadow-sm p-3 mb-5 bg-white rounded ">
        <div class="card-body text-center">
            <img src="~/images/planocontas.png" width="50" />
            <br />
            <br />

            @*   <a href="../Conta/Index" class="card-body" role="application">Criar Contas</a> *@
            <h4 class="card-text">Plano de Contas</h4>
            <a href="../PlanoConta/Index" class="stretched-link"></a>
        </div>
    </div>

    <div class="card bg-primary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
            <p>Dashboard</p>
            <footer class="blockquote-footer">
                <a href="../Conta/Index" class="stretched-link"></a>

                <small>
                    Alguém famoso em <cite title="Título da fonte">Título da fonte</cite>

                </small>
            </footer>
        </blockquote>
    </div>


    <div class="card bg-light shadow-sm p-3 mb-5 bg-white rounded ">
        <div class="card-body text-center">
            <img src="~/images/dashboard.png" width="50" />
            <br />
            <br />
            <h4 class="card-text">Dashboard</h4>
            <a href="../Transacao/Dashboard" class="stretched-link"></a>
        </div>
    </div>




    <div class="card bg-light shadow-sm p-3 mb-5 bg-white rounded ">
        <div class="card-body text-center">
            <img src="~/images/registrar_transacao.png" width="50" />
            <br />
            <br />
            <h4 class="card-text">Registrar Transação</h4>
            <a href="../Transacao/Index" class="stretched-link"></a>
        </div>
    </div>




    <div class="card bg-light shadow-sm p-3 mb-5 bg-white rounded ">
        <div class="card-body text-center">
            <img src="~/images/ajuda.png" width="50" />
            <br />
            <br />
            <h5 class="card-text">Ajuda</h5>
            <a href="../Home/Ajuda" class="stretched-link"></a>
        </div>
    </div>




</div>
