
@{
    ViewData["Title"] = "Menu";
}
<br />
<br />
<br />


<div class="card-columns">
    <div class="card bg-primary text-white text-center p-3  shadow-sm p-3 mb-5 bg-primary rounded ">
        <div class="card-body text-center ">

            <img src="~/images/conta.png" width="40" />
            <br />
            <br />
            <h5 class="card-text  ">Criar Conta</h5>
            <a href="../Conta/Index" class="stretched-link"></a>
        </div>
    </div>



    <div class="card bg-primary text-white text-center p-3  shadow-sm p-3 mb-5 bg-primary rounded ">
        <div class="card-body text-center ">
            <img src="~/images/extrato.png" width="40" />
            <br />
            <br />
            <h5 class="card-text">Extrato</h5>
            <a href="../Transacao/Extrato" class="stretched-link"></a>
        </div>
    </div>



    <div class="card bg-primary text-white text-center p-3  shadow-sm p-3 mb-5 bg-primary rounded ">
        <div class="card-body text-center ">
            <img src="~/images/planocontas.png" width="40" />
            <br />
            <br />

            <h5 class="card-text">Plano de Contas</h5>
            <a href="../PlanoConta/Index" class="stretched-link"></a>
        </div>
    </div>




    <div class="card bg-primary text-white text-center p-3  shadow-sm p-3 mb-5 bg-primary rounded ">
        <div class="card-body text-center ">
            <img src="~/images/dashboard.png" width="40" />
            <br />
            <br />
            <h5 class="card-text">Dashboard</h5>
            <a href="../Transacao/Dashboard" class="stretched-link"></a>
        </div>
    </div>




    <div class="card bg-primary text-white text-center p-3  shadow-sm p-3 mb-5 bg-primary rounded ">
        <div class="card-body text-center ">
            <img src="~/images/registrar_transacao.png" width="40" />
            <br />
            <br />
            <h5 class="card-text">Registrar Transação</h5>
            <a href="../Transacao/Index" class="stretched-link"></a>
        </div>
    </div>



    <div class="card bg-primary text-white text-center p-3  shadow-sm p-3 mb-5 bg-primary rounded ">
        <div class="card-body text-center ">
            <img src="~/images/ajuda.png" width="40" />
            <br />
            <br />
            <h5 class="card-text">Ajuda</h5>
            <a href="../Home/Ajuda" class="stretched-link"></a>
        </div>
    </div>



</div>
